doctype html
html
  head
    include tagmanagertop.js
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
    link(rel='stylesheet' href='static/style.css')
    meta(name='viewport', content='width=device-width initial-scale=1.0')
    title= title
  body
    include tagmanagerbottom.js
    div(class='row')
      div(class='col-md-6 no-gutters')
        div(class='leftside')
          h1 Afstandsbediening
          p
            table
              tr
                td
                  a(class='btn-small' id='alle-lampen-aan' href='/api/lights-on') Alle lampen aan
                td
                  a(class='btn-small' id='alle-lampen-uit' href='/api/lights-off') Alle lampen uit
              tr
                td
                  a(class='btn-small' id='tv-on' href='/api/tv-on') TV aan
                td
                  a(class='btn-small' id='tv-off' href='/api/tv-off') TV uit
          p
            table
              tr
                td
                  a(class='btn' id='goodnight' href='/api/goodnight') Nachtstand
          p
            table
              tr
                td
                  a(class='btn-small' id='alles-aan' href='/api/everything-on') Alles aan
                td
                  a(class='btn-small' id='alles-uit' href='/api/everything-off') Alles uit
          p
            table
              tr
                td
                  a(class='btn-small' id='vloerlamp-on' href='/api/vloerlamp-on') Vloerlamp aan
                td
                  a(class='btn-small' id='vloerlamp-off' href='/api/vloerlamp-off') Vloerlamp uit
              tr
                td
                  a(class='btn-small' id='leeslamp-on' href='/api/leeslamp-on') Leeslamp aan
                td
                  a(class='btn-small' id='leeslamp-off' href='/api/leeslamp-off') Leeslamp uit
              tr
                td
                  a(class='btn-small' id='led-lamp-on' href='/api/ledlamp-on') LED-lamp aan
                td
                  a(class='btn-small' id='led-lamp-off' href='/api/ledlamp-off') LED-lamp uit
              tr
                td
                  a(class='btn-small' id='kleurtjeslamp-on' href='/api/kleurtjeslamp-on') Kleurtjeslamp aan
                td
                  a(class='btn-small' id='kleurtjeslamp-off' href='/api/kleurtjeslamp-off') Kleurtjeslamp uit
              tr
                td
                  a(class='btn-small' id='tafel-on' href='/api/tafel-on') Tafel aan
                td
                  a(class='btn-small' id='tafel-off' href='/api/tafel-off') Tafel uit
          p
            table
              tr
                td
                  a(class='btn-small' id='quooker-on' href='/api/quooker-on') Quooker aan
                td
                  a(class='btn-small' id='quooker-off' href='/api/quooker-off') Quooker uit
          p
            table
              tr
                td
                  a(class='btn-small' id='somfy-up' href='/somfy/somfy_up') Rolluiken omhoog
                td
                  a(class='btn-small' id='somfy-down' href='/somfy/somfy_down') Rolluiken omlaag
          p
            table
              tr
                td
                  a(class='btn-small' id='tuinverlichting-on' href='/api/tuinverlichting-on') Tuinverlichting aan
                td
                  a(class='btn-small' id='tuinverlichting-off' href='/api/tuinverlichting-off') Tuinverlichting uit
              tr
                td
                  a(class='btn-small' id='tuinbolletjes-on' href='/api/tuinbolletjes-on') Tuinbolletjes aan
                td
                  a(class='btn-small' id='tuinbolletjes-off' href='/api/tuinbolletjes-off') Tuinbolletjes uit
              tr
                td
                  a(class='btn-small' id='tuin-contactdoos-1-on' href='/api/tuin-contactdoos-1-on') Tuincontactdoos 1 aan
                td
                  a(class='btn-small' id='tuin-contactdoos-1-off' href='/api/tuin-contactdoos-1-off') Tuincontactdoos 1 uit
              tr
                td
                  a(class='btn-small' id='tuin-contactdoos-2-on' href='/api/tuin-contactdoos-2-on') Tuinhuisje aan
                td
                  a(class='btn-small' id='tuin-contactdoos-2-off' href='/api/tuin-contactdoos-2-off') Tuinhuisje uit
          p
            table
              tr
                td
                  a(class='btn' id='thermostaat' href='/thermostat') Thermostaat
          p
            table
              tr
                td
                  a(class='btn' id='notifier' href='/notifier') Home Notifier
      div(class='col-md-6 no-gutters')
        div(class='rightside')
          if credentials
            script(src='https://cdn.jsdelivr.net/npm/socket.io-client@2/dist/socket.io.js')
            script.
              var socket = io('http://192.168.68.60:8080/?username=#{credentials.user}&password=#{credentials.pass}', {
                reconnection: true,
                reconnectionDelay: 1000,
                reconnectionDelayMax: 3000,
                timeout: 20000,
                forceNew: true
              });
              socket.on('connect', function(){});
              socket.on('event', function(data){});
              socket.on('deviceAttributeChanged', function (msg){
                // console.log(msg);
                if (msg.attributeName === 'actualusage') {
                  var actualusage = JSON.stringify(msg.value) + ' watt';
                  document.getElementById('actualusage').innerHTML = actualusage;
                }
                /*
                if (msg.attributeName === 'total_gas') {
                  var total_gas = JSON.stringify(msg.value);
                  document.getElementById('total_gas').innerHTML = total_gas;
                }
                if (msg.attributeName === 'tariff1totalusage') {
                  var tariff1totalusage = JSON.stringify(msg.value);
                  document.getElementById('tariff1totalusage').innerHTML = tariff1totalusage;
                }
                if (msg.attributeName === 'tariff2totalusage') {
                  var tariff2totalusage = JSON.stringify(msg.value);
                  document.getElementById('tariff2totalusage').innerHTML = tariff2totalusage;
                }
                */
                if (msg.attributeName === 'actualdelivery') {
                  var actualdelivery = JSON.stringify(msg.value);
                  document.getElementById('actualdelivery').innerHTML = actualdelivery;
                }
              });
              socket.on('disconnect', function(){});
            h1 Energieverbruik
            p
              table
                tr
                  td Huidig stroomverbruik:
                  td Huidige teruglevering:
                tr
                  td(class='energieverbruik' id='actualusage')
                    Leeg
                  td(class='energieverbruik' id='actualdelivery')
                    Leeg
          else
            h1 Inloggen
            p
              form(method='POST' action='/')
                input(type='text' name='username')
                br
                input(type='text' name='wachtwoord')
                br
                input(type='submit' value='Verstuur')
          if stats
            h1 Temperatuur
            p
                table
                    tr
                        td Temperatuur binnen:
                        td Instelling thermostaat
                    tr
                        td(class='temperatuur')= stats['nest_temperature'][0].toFixed(1) + '°'
                        td(class='temperatuur')= stats['nest_setpoint'][0].toFixed(1) + '°'
                    tr
                        td Luchtvochtigheid binnen:
                        td Luchtvochtigheid buiten:
                    tr
                        td(class='temperatuur')= ((stats['nest_humidity'][0] + stats['sense_humidity'][0]) / 2).toFixed(0) + '%'
                        td(class='temperatuur')= stats['humidity'][0].toFixed(0) + '%'
                    tr
                        td Temperatuur buiten:
                        td Luchtdruk:
                    tr
                        td(class='temperatuur')= stats['temp'][0].toFixed(1) + '°'
                        td(class='temperatuur')= stats['sense_pressure'][0].toFixed(0)
          else
            h1 No stats.
